<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!--Production-->
  <connectionStrings>
   <add name="AdventureConnection"
         connectionString=" 
         Server=26092bf4-4bc9-4505-bfb7-a76d015c7191.sqlserver.sequelizer.com;
        Database=db26092bf44bc94505bfb7a76d015c7191;
        User ID=phbsaghuqvftzbnr;
        Password=h7GZ2Pwis5cXj2djwkrSZjsr4WeVrReDWNwd4xz633yfnCLTWdwSTUW6Mq6dKJYH;  
         MultipleActiveResultSets=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>


  <!--Dev-->
   <!--<connectionStrings>
    <add name="Adventure-DevConnection"
    connectionString="Data Source=.;
         Initial Catalog=aspnet-Adventure-Dev;
         Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->

</configuration>