<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!--Production-->
  <connectionStrings>
    <add name="AdventureConnection"
         connectionString=" Server=f1d7896b-bf55-4b7f-89f5-a76c0177026f.sqlserver.sequelizer.com; 
        Database=dbf1d7896bbf554b7f89f5a76c0177026f;
        User ID=wwdoyljvsucsuvrq;
        Password=EG3TrGBbEornkPVvNGFeqNWz7QN4TpJXE25WU48tygcSkhMbaRdpsJxYSBUH3Fqq;  
         MultipleActiveResultSets=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--Dev-->
 <!-- <connectionStrings>
    <add name="Adventure-DevConnection"
    connectionString="Data Source=.;
       
         Initial Catalog=aspnet-Adventure-Dev;
         Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->

</configuration>