input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 2px;
    font-size: 14px;
    background-color: #ccffcc;
    background-image: url('');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 33px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

    input[type=text]:focus {
        width: 100%;
    }
